h1 {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    text-transform: uppercase;

}

.main-interface {
    border: 2px solid red;
    text-align: center;
    background-color: darkblue;
    color: white
}
.logo {
    width: auto;
    height: 100px;
}

.recipe-interface {
    text-align: center;
    background-color: red;
}

.recipe-interface ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.recipe-interface li a img {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-right: 150px;

}
.recipe-interface a {
    font-size: 30px;
    text-decoration: none;
}